Flask
Flask-Cors
gdown
pandas
joblib
scikit-learn==1.5.2
firebase-admin
python-dotenv
flask==2.3.3
flask-cors==4.0.0
requests==2.31.0
python-dotenv==1.0.0
pandas==2.1.1
numpy==1.26.0
scikit-learn==1.3.1
xgboost==2.0.0
joblib==1.3.2
python-whois==0.8.0
ipaddress==1.0.23
firebase-admin==6.2.0
gdown==4.7.1
python-dateutil==2.8.2
